<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Shmiede</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
	<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="/ITS">ITS<span class="sr-only">(current)</span></a>
		  </li>
	  <li class="nav-item active">
		<a class="nav-link" href="/AWE">AWE<span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item active">
		<a class="nav-link" href="/Englisch">Englisch<span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item active">
		<a class="nav-link" href="/WGP">WGP<span class="sr-only">(current)</span></a>
	  </li>
	</ul>
	<span class="navbar-text">
		{% if user.is_authenticated %}
			<a href="/profile/{{user.username}}">{{user.username}}</a>&nbsp;&nbsp;&nbsp;
			<a href="/erstellen/"> Beitrag erstellen</a>&nbsp;&nbsp;&nbsp;
			<a href="/karten-erstellen/"> Karten erstellen</a>&nbsp;&nbsp;&nbsp;
			|&nbsp;&nbsp;&nbsp;
			<a href="/logout/">Logout</a>&nbsp;&nbsp;&nbsp;
		{% else %}
			<a href="/register/">Registrieren</a>&nbsp;&nbsp;&nbsp;
			<a href="/login/">Login</a>&nbsp;&nbsp;&nbsp;
		{% endif %}
	</span>
  </div>
</nav>